body{
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;
    font-family: system-ui;
    color: #eee;
    /* background-image: linear-gradient(
        to right bottom,
        #197d9f,
        #493f6f
    ); */
    background-image: url(1.jpg);
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
}

h1{
    font-size: xx-large;
    font-weight: 100;
}

.time .item{
    position: relative;
    background-image: repeating-linear-gradient(
        to right bottom,
        #7a7d7a 0px, #7a7a7a 1px,
        transparent 1px, transparent 8px
    );
}

.time{
    display: grid;
    column-gap: 20px;
    grid-template-columns: 100px 100px 100px 100px;
    margin: auto;
    grid-template-rows: 100px;
}

#day,
#hour,
#minute,
#second{
    font-size: xxx-large;
    font-weight: bold;
}

.time .item::before,
.time .item::after{
    position: absolute;
    content: '';
    width: 6px;
    height: 20px;
    background-color: #212121;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.time .item::after{
    left: unset;
    right: 0;
}

@media screen and (max-width:425px) {
    body{
        background-size: cover;
    }
    .time{
        width: 135px;
        row-gap: 20px;
        grid-template-rows: 100px 100px 100px 100px;

        column-gap: unset;
        grid-template-columns: unset;
    }

    .container{
        height: 600px;
    }
}

